{% extends 'maps/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'maps/css/index.css' %}"/>
{% endblock %}

{% block content %}
    <h2>Maps</h2>
    {% if maps %}
    <ul class="list-unstyled">
        {% for map in maps %}
            <li>
                <a href="{% url 'maps:control' map.id %}">{{ map.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
       <h4>Add maps through admin interface</h4>
    {% endif %}
{% endblock %}